.bigContainer {
  background-image: url(./assets/images/ro-big-screen.jpg);
  background-size: cover;
}

.linear-bg {
  color: #ffffff;
  background: rgb(79, 190, 190);
  background: linear-gradient(
    90deg,
    rgba(79, 190, 190, 1) 35%,
    rgba(2, 153, 202, 1) 100%
  );
}
